html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}
.breadcrumb {
  padding: 40px 0;
  background-color: $sky-color;
  &__page {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
  &__path {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    ion-icon {
      font-size: 1.4rem;
    }
  }
}
