@import "../../Sass/variable";
.auth {
  .login__container,
  .register__container {
    min-height: 500px;
    margin: 60px 0;
  }
  .redirect {
    font-size: 1.7rem;
    padding: 20px 0;
    display: block;
    text-align: center;
    font-weight: 500;
    color: $blue-color;
    cursor: pointer;
  }
}
