@import "../../Sass/variable";
.cart {
  &__container {
    min-height: 600px;
    padding: 30px 0 40px;
  }
  &__list {
    padding: 20px 0;
  }
  &__item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
    padding: 10px;
    margin-top: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 6px;
    // border-bottom: 1px solid $gray-light;
    @media screen and (max-width: 767.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__name,
  &__price,
  &__image,
  &__quantity,
  &__subtotal {
    flex-direction: column;
    justify-content: center;
  }
  &__name {
    &-content {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;
    }
    &-title {
      color: $pink-color;
      font-weight: 500;
    }
  }
  &__image {
    img {
      width: 100px;
      height: 100px;
      border-radius: 8px;
    }
  }
  &__label {
    margin-bottom: 10px;
    color: $gray-dark;
    font-weight: 500;
  }
  &__remove {
    position: absolute;
    top: 12px;
    left: -12px;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: red;
    border-radius: 100rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    p {
      font-weight: 500;
      font-size: 2.2rem;
      color: $gray-dark;
    }
    h3 {
      font-size: 2.2rem;
    }
  }
  &__action {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}
