@import "../../Sass/variable";
.profile {
  &__container {
    padding: 60px 0;
    display: flex;
    gap: 40px 60px;
    min-height: 600px;
    @media screen and (max-width: 1023.98px) {
      flex-direction: column;
    }
  }
  &__info {
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    background-color: #f8f8f8;
    @media screen and (max-width: 767.98px) {
      width: 100%;
    }
  }
  &__name {
    margin: 20px 0;
  }
  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
  }
  &__email {
    h3 {
      font-weight: 500;
      word-break: break-word;
    }
  }
  &__switch {
    margin-top: 20px;
  }
  // PROFILE - ORDER
  &__order {
    flex: 1;
    max-height: 500px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $pink-color;
      border-radius: 4px;
    }
    table {
      width: 100%;
      border-spacing: 0;
      // thead
      thead {
        tr {
          td {
            font-weight: 600;
          }
        }
      }
      // tbody
      tbody {
        border: 2px solid #000;
        tr {
          background-color: #d1e7dd;
          &.tr--fail {
            background-color: #f8d7da;
          }
        }
      }
      // tr (thead + tbody)
      tr {
        td {
          padding: 1rem;
          border-bottom-width: 1px;
          background-color: transparent;
          box-shadow: inset 0 0 0 9999px transparent;
        }
      }
    }
  }
  // PROFILE - CHANGE
  &__change {
    flex: 1;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 40px;
    @media screen and (max-width: 767.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    h3 {
      font-weight: 500;
    }
  }
  &__input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid $pink-color;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  &__button.button {
    margin-top: 10px;
    height: 50px;
    font-size: 2rem;
    width: 100%;
  }
}
