@import "../../Sass/variable";
.product {
  &__container {
    min-height: 500px;
  }
  &__list {
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 30px;
  }
  &__item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
      .product__buy {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__thumb img {
    cursor: pointer;
  }
  &__name {
    font-weight: 400;
    font-size: 1.8rem;
    cursor: pointer;
    color: #000;
  }
  &__info {
    padding: 20px 10px;
  }
  &__bottom {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    font-size: 2.2rem;
    font-weight: 600;
  }
  &__buy {
    opacity: 0;
    visibility: hidden;
    font-size: 1.4rem;
    transition: all 0.25s linear;
  }
}
