.ui {
  &__heading {
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__form {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    @media screen and (max-width: 767.98px) {
      width: 100%;
      padding: 40px 20px;
    }
  }
  &__input {
    margin: 10px 0;
    height: 55px;
    border-radius: 4px;
    width: 100%;
    padding: 0 20px;
    border: 1px solid $pink-color;
  }
  &__submit.button {
    margin: 10px 0;
    height: 50px;
    width: 100%;
  }
  &__error {
    padding: 10px;
    display: flex;
    align-items: center;
    color: #721c24;
    background-color: #f8d7da;
  }
}
